version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      # Check for updates once a week
      interval: 'monthly'

  - package-ecosystem: 'pip'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      dev-deps:
        dependency-type: "development"
      prod-deps:
        dependency-type: "production"
