body {
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}

h6 {
    text-align: center;
}

.nav_column_top {
    margin:8px 0px 0px 12px;
    padding:0px;
}

.nav_column_bottom {
    margin:4px 0px 8px 12px;
    padding:0px;
}

.row {
    margin:0;
}

#navbar {
    margin-bottom:2em;
}

#nval-selector {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    /* float:left; */
}

#event-warning {
    color:red;
    /* margin-left: -5px;
    margin-top: -4px;
    min-height: 45px; */
}

#longitude-selector, #latitude-selector, #year-selector {
    padding-top:40px !important;
}

#open {
    text-align: center;
    width:100%;
}

#modal {
    top:10%;
}

.modal-dialog {
    max-width: 1000px;
}

.modal-content {
    border-radius: 12px;
    border: 0px;
    box-shadow: 0px 0px 12px 5px rgb(0 0 0 / 30%)
}

#maprow {
    position:relative;
}

#map_column {
    padding:0;
    width: 100%;
    height: calc(100vh - 240px);
    display: block;
    flex: none;
    z-index: 0;
}

#toggle-sidebar {
    width:30px;
    height:30px;
    position: absolute;
    z-index: 1000;
    top:10px;
    background-color: white;
    color: black;
    border: 0px;
    line-height: 30px;
    padding: 0px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
}

#toggle-sidebar:focus {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
}

#toggle-sidebar:hover {
    background-color: #f4f4f4;
}

#sidebar_column {
    padding:2px;
    border-left: 1px solid rgb(211, 211, 211);
    position: fixed;
    height: calc(100vh - 240px);
    width: 249px;
    right: 0px;
    z-index:1000;
    /* display: flex; set inline -> required by toggle_sidebar callback */
    flex-flow: column nowrap;
    align-items: stretch;
}

#map_column {
    height: calc(100vh - 240px);
}

.cell-table {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

.cell-table .column-0 {
    width:30%;
}

.cell-table .column-1 {
    width:70%;
}

.cell-table td, .cell-table th {
    border-left: 0px !important;
    border-right: 0px !important;
    padding-left: 8px !important;
    text-align: left !important;
}

#download {
    display: flex;
    flex-direction: column;
}

.btn-download {
    margin: auto;
    width:100%;
}

.download_button {
    text-align: center !important;
    padding-top: 10px;
}

/* SMALL SCREENS */
@media only screen and (max-width: 990px) {

    #sidebar_column {
        height: calc(100vh - 307px);
    }

    #map_column {
        height: calc(100vh - 307px);
    }

    #polygon-table {
        height: calc(100vh - 465px);
    }

    .navbar-brand {
        font-size:large !important;
    }

    #eth_logo {
        display: none;
    }

    .col {
        flex: 0 1 31%;
    }

    .title_column {
        width:30%;
    }

    .logo_column {
        flex: 1 0 0%;
    }

    @media only screen and (max-width: 550px) {
        #sidebar_column {
            height: calc(100vh - 600px);
        }

        #map_column {
            height: calc(100vh - 600px);
        }

        #polygon-table {
            height: calc(100vh - 758px);
        }

        .col {
            flex: 0 1 46%;
        }

        .nav_column_bottom {
            flex: 0 1 95%;
        }

        #iac_logo {
            display: none;
        }

        @media only screen and (max-width: 320px) {
            .col {
                flex: 0 1 90%;
            }
        }
    }
}
