body {
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}

h6 {
    text-align: center;
}

.nav_column_top {
    margin:8px 0px 0px 12px;
    padding:0px;

}

.nav_column_bottom {
    margin:4px 0px 8px 12px;
    padding:0px;
}

.row {
    margin:0;
}

#navbar {
    margin-bottom:2em;
}

#longitude-selector, #latitude-selector, #year-selector {
    padding-top:40px !important;
}

#maprow {
    position:relative;
}

#map_column {
    padding:0;
}

#toggle-sidebar {
    width:30px;
    height:30px;
    position: absolute;
    z-index: 9999;
    top:10px;
    background-color: white;
    color: black;
    border: 0px;
    line-height: 30px;
    padding: 0px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
}

#toggle-sidebar:focus {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
}

#toggle-sidebar:hover {
    background-color: #f4f4f4;
}


#sidebar_column {
    padding:0;
}

#ranking-selector .Select-menu-outer {
    height:300px;
}

.cell-table {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

.cell-table .column-0 {
    width:30%;
}

.cell-table .column-1 {
    width:70%;
}

.cell-table {
    text-align: left !important;
    padding-left:5px !important;
}

.cell-table td, .cell-table th {
    border-left: 0px !important;
    border-right: 0px !important;
    padding-left: 8px !important;
}

#download {
    display: flex;
    flex-direction: column;
}

.btn-download {
    margin: 10px;
}